.title {
  padding: 25px 0;

  display: flex;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form input {
  border: 1px solid #aaa;
  padding: 0 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 40px;
  width: 35%;
}

.form input:focus, .form input:active {
  outline: 0;
}

.form input + input {
  margin-left: 5px;
  width: 50%;
}

.buttonAdd {
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
  margin-left: 5px;
  background-color: #54aae4;
  padding: 5px 15px;
  border: 1px solid #185177;
  border-radius: 8px;
  color: #0f3249;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
}

.buttonAdd:hover, .buttonAdd:focus, .buttonAdd:active {
  filter: brightness(90%);
  outline: 0;
}

.buttonConfirm {
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
  margin-left: 5px;
  background-color: #f2eed3;
  padding: 5px 15px;
  border: 1px solid #524d2f;
  border-radius: 8px;
  color: #524d2f;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
}

.buttonConfirm:hover, .buttonConfirm:focus, .buttonConfirm:active {
  filter: brightness(90%);
  outline: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #888;
  font-size: 20px;
  margin-top: 50px;
}